/********BASE******/

body {
	color: #f7fffb;
	background: #142030;
	font-family: 'Noto Sans';
	text-decoration: none;
}

h3 {
	color: #D64C26;
	font-family: 'Gruppo';
	font-size: 42px;
	margin: 50px 0px;
	text-align: center;
}

p {
	font-size: 22px;

}

h4 {
	font-size: 24px;
	margin: 0;
}

a:link {
	color: #F7FFFB;
	text-decoration: none;
}

a:hover { 
	color: #38c1c1;
} 

div {
	margin: 0px;
}

ul li{
    display: inline-block;
}

/*******GRID*******/

header {
	height: 24%;
}

#about {
	height: 17%;
}

#contact {
	height: 12%;
}

#portfolio {
	height: 47%;
}

.full-width {
	margin: 0;
	width: 100%;
}

.half-width {
	float: left;
	width: 50%;
}

.third-width {
	float: left;
	width: 33.33%;
}

/********* HEADER ***********/

.header-nav {
	height: 45px;
	font-family: 'Gruppo';
}

#header-title {
	color: #f7fffb;
	font-size: 20px;
	height: 45px;
}

header h3 {
	font-size: 26px;
	text-align: left;
}

header h3, nav ul {
	padding: 10px 0px 10px 25px;
}

header h3, nav ul, h1 {
	margin: 0;
}

nav {
    float: right; 
}

nav ul li a {
    font-size: 20px;
    padding: 0px 25px;
}

.header-img	{
	background: url(../img/desk.jpg);
  	background-position: 50% 75%;
  	background-repeat: no-repeat;
  	background-size: cover;
  	height: 755px;
}

h1 {
	color: #142030;
	font-size: 48px;
	padding: 250px 100px;
}

h1 span {
	color: #D64C26;
}

/********* PORTFOLIO ***********/

#portfolio  {
	padding: 0px 100px;
}

.container {
	float: left;
  	height: 25%; 
  	padding-bottom: 50px;	
}

.right {
	margin-left: 100px;
}

#portfolio img {
	display: block;
	width: 90%;
	
}

#portfolio a {
	color: #38c1c1;

}

#portfolio a:hover {
	color: #d64c26;
}

/********* ABOUT ***********/

#about 	{
	background: url(../img/desk4.jpg);
  	background-position: 50% 100%;
  	background-repeat: no-repeat;
  	background-size: cover;
  	clear: both;
  	height: 550px;
}

#about .half-width {
	padding: 0px 100px;
}

#about h3 {
	text-align: left;
}

#about p {
	color: #142030;
	width: 75%;
}

/********* CONTACT ***********/

#contact img {
	border-radius: 50%;
	display: inline;
	height: 225px;
}

#contact .full-width {
	float: left;	
}

.hire {
	padding-left: 100px;
}

.hire a {
	word-break: break-word;
}

#contact .container {
	text-align: center;
	width: 100%;
	padding-bottom: 0;
	
}

.follow {
	padding-right: 100px;
	text-align: center
}

#contact ul {
	display: inline-block;
	padding-left: 20px;
	text-align: left;
}

#contact ul li{
    float: left;
}

.copyright {
	font-size: 14px;
	margin: 50px 0px;
	text-align: center;
}